<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Редактирование ( изменение )</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Change name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="age">Change age: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <input type="submit" value="Edit"/>

</form>

</body>
</html>